{% extends "base.html" %}

{% block status %}/logout{% endblock status %}
{% block stat %}Logout{% endblock stat %}
{% block body %}
{{request.user}}
{{request.user.group.name}}
    <div class="container">
        <a href="salesofficer">
            <button type="button" class="btn btn-danger">Data Entry</button>
        </a>
        <a href="callcenter">
            <button type="button" class="btn btn-danger">Calls Data</button>
        </a>
        <a href="service_data">
            <button type="button" class="btn btn-primary">Service Data</button>
        </a>
        <a href="customer_profile">
            <button type="button" class="btn btn-success">Customer Profile</button>
        </a>
        <a href="BYD_callcenter">
            <button type="button" class="btn btn-warning">BYD Call Center</button>
        </a>
        <a href="booking_status">
            <button type="button" class="btn btn-info">Booking & Status</button>
        </a>
        <a href="reference_data">
            <button type="button" class="btn btn-dark">Reference Data</button>
        </a>
    </div>
{% endblock body %}